.section5 {
    background: image('kimsa2.gif')no-repeat center;background-size: cover;
    position: relative;
    // &:before {
    //     content: '';position: absolute;top: 0;left: 85px;width: 325px;height: 378px;
    //     @include max-xxl {
    //         left: 60px;
    //         background-size: 231px auto;
    //     }
    //     @include max-sm {
    //         display: none;
    //     }
    // }
    &:after {
        content: '';position: absolute;bottom: 0;left: 85px;width: 337px;height: 589px;background: image('section5-3.png')no-repeat;
        @include max-xxl {
            left: 60px;
            background-size: 231px auto;
            height: 419px;
            width: 231px;
        }
        @include max-sm {
            display: none;
        }
    }

    .main-info {
        margin: 0 0 0 336px;
        @include max-xxl {
            margin-left: 250px;
        }
        @include max-sm {
            margin: 0;
        }
        .big-title {
            letter-spacing: 0.2em;margin: 0 0 71px 0;width: 340px;
            background: linear-gradient(90deg, #C89B63 0%, #FCCA85 49.65%, #C89B63 100%);
            -webkit-background-clip: text;-webkit-text-fill-color: transparent;
            @include max-xxl {
                width: auto;
                font-size: 36px;
                margin: 0 0 25px 0;
            }
        }
        .des {
            width: 400px;
            @include max-xxl {
                width: 290px;
                font-size: 16px;
            }
            @include max-sm {
                width: auto;
            }
        }

    }
    .list-inline {
        li {
            @include max-xxl {
                width: calc(50% - 5px);
            }
            @include max-sm {
                width: 100%;
            }
        }
    }
    &.active {
        .big-title {
            &:before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                //background: $main-color;
                animation: a-top-bottom-before 2s cubic-bezier(.77,0,.18,1) forwards;
                transform: translateX(0);
                animation-delay: 1s;
            }
            /*&:after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                //background: white;
                animation: a-ltr-after 2s cubic-bezier(.77,0,.18,1) forwards;
                transform: translateX(-101%);
                animation-delay: 1s;
            }*/
        }
        .des span {
            position: relative;
            opacity: 0;
            bottom: 1em;
            animation: animateOverlay 1s ease-in-out forwards;
        }
        .des span:nth-child(1) { animation-delay: 0.2s; }
        .des span:nth-child(2) { animation-delay: .3s; }
        .des span:nth-child(3) { animation-delay: .4s; }
        .des span:nth-child(4) { animation-delay: .5s; }
        .des span:nth-child(5) { animation-delay: .6s; }
        .des span:nth-child(6) { animation-delay: .7s; }
        .des span:nth-child(7) { animation-delay: .8s; }
        .des span:nth-child(8) { animation-delay: .9s; }
        .des span:nth-child(9) { animation-delay: 1s; }
    }
}